// $primary-color: #ff0000;
// $secondary-color: #000fff;
// $text-color: #ccc;
// $white-color: #ffffff;
// $black-color: #000000;
// $gradient: linear-gradient(128deg, #2983c0 26.39%, #2a84c0 37.52%, #1b60a5 100%);
// $gradient-revert: linear-gradient(269deg, #2983c0 26.39%, #2a84c0 37.52%, #1b60a5 100%);
// $bg-color: maroon;


$primary-color: #775AFC;
$secondary-color: #141D38;
$text-color: #737887;
$bg-color: #F1EDFF;
$white-color: #ffffff;
$black-color: #000000;
$font-name: "Barlow", sans-serif;